<!DOCTYPE html>
<html>
    <head>
        <title>Http Basics!</title>
    </head>
    <body>
        <h1>HTTP Basics</h1>
        {% include "menu.html" %}
        <p>HTTP allows for communication between a variety of hosts and clients, and supports a mixture of network configurations.</p>
        <strong>"To make this possible, it assumes very little about a particular system, 
            and does not keep state between different message exchanges."</strong>
        <p>This makes HTTP a stateless protocol. The communication usually takes place over TCP/IP, but any reliable transport can be used. 
            The default port for TCP/IP is 80, but other ports can also be used.</p>

    </body>
</html>